###############################################################################
## General Section
###############################################################################

[General]

# The list of ePO servers to expose to the DXL fabric delimited by commas.
#
# For example: epo1,epo2,epo3
#
# For each ePO name specified, a corresponding section must be defined within
# this configuration file that provides detailed information about the server.
epoNames=epo1

###############################################################################
## ePO section (one section for each name specified in "epoNames")
###############################################################################

[epo1]

# The ePO server hostname or IP address
host=<ePO-server-hostname-or-ip-address>

# The ePO server communication port (optional, defaults to 8443)
;port=8443

# The name of the user used to login to the ePO server
user=<user>

# The password associated with the user used to login to the ePO server
password=<password>

# A unique identifier used to identify the ePO server on the DXL fabric.
# (optional, if not specified defaults to the GUID of the ePO server)
#
# This unique identifier will be the last portion of the request topic that
# is associated with the ePO server on the fabric.
#
# For example: /mcafee/service/epo/remote/epo1
;uniqueId=epo1

# Whether to verify that the hostname in the ePO's certificate matches the ePO
# server being connected to and that the certificate was signed by a valid
# authority. (optional, enabled by default)
;verifyCertificate=yes

# A path to a CA Bundle file containing certificates of trusted CAs.
# The CA Bundle is used to ensure that the ePO server being connected to
# was signed by a valid authority.
# (optional, only applicable if "verifyCertificate" is "yes")
;verifyCertBundle=<path-to-bundle-file-or-directory>

###############################################################################
## Settings for the incoming request message pool
###############################################################################

[IncomingMessagePool]

# The queue size for incoming DXL messages (will block when queue is full)
# (optional, defaults to 1000)
;queueSize=1000

# The number of threads available to handle incoming DXL messages
# (optional, defaults to 10)
;threadCount=10
